@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* .blue-gradient {
  background: linear-gradient(
    329.39deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
} */
/* .blue-fade {
  background: rgba(28, 30, 83, 0.5);
} */
/* 
.progress-dot {
  width: 100%;
  height: 24px;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    border-radius: 100000px;
    width: 24px;
    height: 24px;
    background: #2405f2;
  }
  &:after {
    content: '';
    width: 100%;
    margin-top: -14px;
    opacity: 0.4;
    border-top: 5px dotted #2405f2;
    margin-left: 48px;
    display: block;
    height: 2px;
  }
} */
